language: php
sudo: false

php:
  - 5.6
  - 7.0
  - 7.1

addons:
  rethinkdb: "2.3"

cache:
  directories:
    - /home/travis/build/RoySegall/gizra_slack_bot/vendor

before_script:
  # Installing composer
  - curl -sS https://getcomposer.org/installer | php
  - php composer.phar install --dev

  # Set up stuff for the webhooks tests.
  - nohup php -S localhost:8888 > /dev/null 2>&1 &
  - export NUNTIUS_BASE_URL=http://localhost:8888

script:
  - cp settings.local.travis.yml settings.local.yml
  - rethinkdb > /dev/null &
  - php console.php nuntius:install
  - vendor/phpunit/phpunit/phpunit --bootstrap vendor/autoload.php tests/
